In [1]:
import pandas as pd

## Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [7]:
movies = pd.read_csv('D:/Netology/Python/Lesson_11/ml-25m/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [9]:
ratings = pd.read_csv('D:/Netology/Python/Lesson_11/ml-25m/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [64]:
%%time
joined = ratings.merge(movies, on='movieId', how='left')
joined[joined.rating == 5.0].title.value_counts().head(1)

Wall time: 8.37 s

Shawshank Redemption, The (1994)    39553
Name: title, dtype: int64

## Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [84]:
power = pd.read_csv('power.csv')
power.head()
power[ power['country'].str.contains('lat', case=False) ]['country'].unique()
power[ power['country'].str.contains('lit', case=False) ]['country'].unique()
power[ power['country'].str.contains('ton', case=False) ]['country'].unique()
baltic = power[(power.country == 'Latvia' )| (power.country == 'Lithuania') | (power.country == 'Estonia')]
baltic.head()

       country  year  quantity  category
373  Lithuania  2014      39.0         1
374  Lithuania  2013     192.0         1
375  Lithuania  2012     196.0         1
376  Lithuania  2011     171.0         1
377  Lithuania  2010     158.0         1

In [100]:
baltic_category = baltic[(baltic.category == 4) | (baltic.category == 12) | (baltic.category == 21)]
baltic_category_period = baltic_category[(baltic_category.year >= 2005) & (baltic_category.year <= 2010)]
baltic_category_period_positive = baltic_category_period[baltic_category_period.quantity >=0]
sum(baltic_category_period_positive.quantity)

240580.0

## Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):  
https://fortrader.org/quotes  
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [104]:
pd.read_html('https://coronavirus-control.ru/coronavirus-russia/')

[                       Область       Заражено Активные случаи   Погибло  \
 0                       Москва  161 397+3 190     112 050-708  1 934+67
 1           Московская область     32 653+846      27 166+370    324+12
 2              Санкт-Петербург     12 955+363        9 718+92     113+6
 3        Нижегородская область      7 826+211        5 509-43      60+3
 4          Республика Дагестан      3 982+127           910+2      70+5
 ..                         ...            ...             ...       ...
 80                 Севастополь          154+5            39-3         2
 81            Республика Алтай             92            46-5         0
 82         Сахалинская область           66+3            30+2         0
 83   Ненецкий автономный округ           62+2            52-1         0
 84  Чукотский автономный округ           58+2            27-5       1+1

      Выздоровело Летальность Восстановление
 0   47 413+3 831  1,20%+0,02    29,38%+1,83
 1      5 163+464  0,99%+0,01    15,81%+1,04
 2      3 124+265  0,87%+0,02    24,11%+1,41
 3      2 257+251  0,77%+0,02    28,84%+2,50
 4      3 002+120  1,76%+0,07    75,39%+0,63
 ..           ...         ...            ...
 80         113+8  1,30%-0,04    73,38%+2,91
 81          46+5       0,00%    50,00%+5,43
 82          36+1       0,00%    54,55%-1,01
 83          10+3       0,00%    16,13%+4,46
 84          30+6  1,72%+1,72    51,72%+8,86

 [85 rows x 7 columns]]

C:\ProgramData\Anaconda3\lib\site-packages\bs4\__init__.py:203: UserWarning: You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.
  warnings.warn("You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.")

ValueError: No tables found